.NotFound {
  h1 {
    width: 100%;
    background: #44ce9c;
    color: white;
    text-align: center;
  }
  .message {
    min-height: 60vh;
    text-align: center;
    padding-top: 35vh;
    font-size: 45px;
  }
}